<app-nav-bar></app-nav-bar>
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">
            Danh sách phiếu thuê nhà
          </h1>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a routerLink="/home">Trang chủ</a>
            </li>
            <li class="breadcrumb-item">
              <a routerLink="user">Cá nhân</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Lịch sử phiếu thuê
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>

<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="property-list">
          <div class="single-property-item">
            <div class="row" *ngFor="let booking of bookings; index as i">
              <div class="col-md-4" >
                <div class="property-pic">
                  <img src="{{listFirstImage[i]}}" style="width: 100%; height: 290px; margin-bottom: 10px">
                </div>
              </div>
              <div class="col-md-8">
                <p class="content-d color-text-a property-text">
                </p>
                <div class="info-agents color-a">
                  <p style="font-size: 20px">
                    <strong>Tên nhà: </strong>
                    {{booking.house?.houseName}}
                  </p>
                  <p style="font-size: 20px">
                    <strong>Tên người thuê: </strong>
                    {{booking.user?.username}}
                  </p>
                  <div class="properties-location"><i class="icon_pin"></i><p style="font-size: 20px"><strong>Địa chỉ: </strong>{{booking.house?.houseAddress}}</p></div>
                  <p style="font-size: 20px">
                    <strong>Ngày bắt đầu: </strong>
                    {{covert(booking.startTime)}}
                  </p>
                  <p style="font-size: 20px">
                    <strong>Ngày kết thúc: </strong>
                    {{covert(booking.endTime)}}
                  </p>
                  <button class="btn btn-info" (click)="submit(booking.id)" style="height: 50px; width: 100px">Xác nhận</button>
                  &nbsp;
                  <button class="btn btn-danger" (click)="cancel(booking.id)" style="height: 50px; width: 100px">Hủy</button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <nav class="pagination-a">
            <ul class="pagination justify-content-end">
              <li class="page-item">

                <a class="page-link" [routerLink]="['/booking',0]" tabindex="-1">
                  <span class="ion-ios-arrow-back"></span>
                  <span class="ion-ios-arrow-back"></span>
                </a>
              </li>
              <li class="page-item active" *ngFor="let page of listPageNumber; index as i">

                <a class="page-link" [routerLink]="['/booking',i]">{{page}}</a>
              </li>
              <li class="page-item next">
                <a class="page-link" [routerLink]="['/booking',lastpage]">
                  <span class="ion-ios-arrow-forward"></span>
                  <span class="ion-ios-arrow-forward"></span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
